*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/layout/recipe_layout.xml
app/src/main/res/layout/recipe_layout.xml
app/src/main/res/layout/recipe_list.xml
